@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Fluent Validation playground</h1>
	<p class="lead">This is an experiment on using the Fluent Validation library.</p>
	<p>
		<a href="http://fluentvalidation.codeplex.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a>
		@Html.ActionLink("Try it »", "Index", "Customer", null, new { @class = "btn btn-primary btn-lg" })
	</p>
</div>
